* {
    padding: .17em;
}

header{
    background-color: rgb(0,0,0,.4);
    width: 100%;
    height: auto;

}
#option ul {
    list-style-type: none;
    
}
#option ul li a{
    color: white;
    font-size: 1.4em;
    text-decoration: none;

}
#option ul li{
    border-bottom: 1px solid black;
}
#option ul li:hover{
    background-color: rgb(100%, 0%, 0%,.5);
    text-align: center;
    transition: 1s;
}





