
:root{
    --first-color--: #263248;
    --second-color--: #f8bd0a;
    /* --third-color--:; */
    --shadow--: 5px 5px 10px #6f7364; 
    --text-color--: #ffffff;
}
*{
    min-width: 200px;
    max-width: 1500px;
}
#main-join{
    /* display: flex; */
    padding: 0 2%;
    min-height: 20em;
    /* justify-content: center; */
    /* align-items: center; */
   
}
#joinHead{
    display: flex;
    flex-direction: column;
    background-color: var(--second-color--);
    align-items: center;
    /* justify-content: center; */

}

/* header .head{
    text-align: center;
}
header .head img{
    width: 200px;
} */

form fieldset{
    margin: 2rem 0;
    border: 1px solid #0407b9;
    border-radius: 10px;
    padding: .5rem 2%;
    max-width: 36rem;
}

form legend{
    color: #0407b9;
    padding: 0 1.3rem;
    margin: .5rem;
    font-size: 1.3em;
    font-weight: 700;
}

Form label.top, label select{
    display: block;
    padding: 1rem .5rem;
    /* padding-left:.5rem; */
}
.top:hover{
    background-color: rgb(0%,0%,0%,.1);
}

Form label.top input, label textarea, label select, .submitbtn{
    display: block;
    font-size: 1rem;
    padding: .6rem;
    border: 1px solid #0407b9;
    border-radius: 10px;
    background-color: rgb(0%,0%,50%,.1);
    color: #555;
    width: 95%;
    max-width: 20rem;
}

#button {
    background-color: rgb(2, 2, 141);
    margin-left: 2.3rem;
    color: whitesmoke;
}
label.top input, label select, label textarea{
    margin-top: .75rem;
}

form label.top input:required{
    border: 2px solid red;
}
form label.top input:required:valid{
    border: 4px solid  rgb(2, 2, 141);
}

/* @media (min-width: 32rem) {
    header {
        display: grid;
        grid-template-columns: 300px 1fr;
        padding: 20px;
    }
} */
@media(min-width: 40rem) {
    .h {
        font-size: 2.2em;
    }
}

/* footer{
    text-align: center;
    background-color: var(--first-color--);
}
.date{
    color: var(--second-color--);
}
footer p{
    color: whitesmoke;
} */