:root{
    --title--:rgba(11, 6, 87, 0.8);
    --ground--: rgb(0,0,0,.3);
    --shodow--: 5px 5px 10px #c78a8a;

}

*{
    padding: 0; 
    /* margin: .5rem .3rem; */
    text-decoration: none;
}
.main-directory{
    display: flex;
    background-color:#eee;
    justify-content: center;
    justify-items: center;
}
#button{
    display: flex;
    flex-direction: row; 
    margin:20px 0;
    /* border: 4px solid rgb(3, 3, 129); */

}
.directory_btn{
   
    border: 2px solid #6578;
    font-size: 1.2em;
    padding: 1.3rem;
    margin-left: 20px;
    border-radius: 10px;
}


.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.grid .company{
    height: 500px;
    background-color: var(--ground--);
    border-radius: 20px;
    width: 250px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    box-shadow: 5px 5px 10px #444;

}
.grid .company h2{
    color: var(--title--);
    font-weight: bold;
    font-size: 2em;
}

.grid .company img{
    border-radius: 10px;
    margin: .5rem 0;
    height: 250px;
    object-fit: cover;
    /* box-shadow: var(--shodow--); */
}
.grid .company p{
    margin: .5rem 0;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;

}


.list {
	display: flex;
	flex-direction: column;
}
.list img{
    display: none;
}
.list section {
    height: auto;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 1em;
    background-color: var(--ground--);
    border-top: 4px solid yellow;
}
.list a{
    display: none;
}
.list .phone{
    display: none;
}
.list p, .list a{
    font-size: .8em;
}
.list .company h2{
    color: var(--title--);
    font-weight: bold;
    font-size: 1.3em;
}
.list section:nth-child(even) {
	background-color: #bed;
    color: red;
}
.list section:nth-child(even) h2{
    color: palevioletred
}
