:root{
    --border: rgba(45, 46, 45, 0.4);
    --shadow:10px 5px 15px rgba(107, 104, 104, 0.6);
    --main-color: rgb(231, 191, 13);
    --head-color:rgb(43, 42, 41);
    --light: #eee;
    --zebra: hsl(46, 81%, 55%);
}
table{
    border: thin solid var(--border);
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: var(--shadow);
    
}

caption{
    caption-side: bottom;
    padding: 15px;
}

th, td{
    padding: 7px 25px;
    border: 1px solid hsla(0,0%,33%,.3);
}
thead{
    background-color: var(--head-color);
}
.col{
    background-color: black;
}

th{
    font-size: 1.5em;
    color: whitesmoke;
    font-weight: 400px;
}
td{
    font-size: 1.3em;
    font-weight: bold;
}
tr:first-child th{
    color: var(--main-color);
}

tbody tr:nth-child(odd){
    background-color: var(--zebra);
}