

:root{
    --first-color--: #263248;
    --second-color--: #f8bd0a;
    /* --third-color--:; */
    --shadow--: 5px 5px 10px #6f7364; 
    --text-color--: #ffffff;
}
* {
    padding: 0;
    margin: 0;
}
body{
    min-width: 380px;
    max-width: 1900px;
}
nav button{
    display: block;
    font-size: 2em ;
    background-color: transparent;
    border: none;
    color: var(--second-color--);
    padding-left: .5em;
}
nav button:hover{
    background-color: rgb(0,0,0,.6);
}

nav{
    display: block;
    background-color: var(--first-color--);
    padding: 0;
    border-radius: 10px 10px 0 0;
}
nav ul{
    list-style-type: none;

}
/* header nav{
    position: fixed;
    flex: 1 1 auto;
} */
#Logo{
    position: sticky;
    top: 0rem;
}
nav ul li a{
    display: block;
    color: var(--text-color--);
    padding: .9rem;
    text-decoration: none;
    border-top: 1.5px solid rgb(0,0,0,.4);
    transition: transform .6s;
}
nav ul li a:hover{
    background-color: rgb(0,0,0,.6);
    color: var(--second-color--);
    transform: scale(1.2);
}
/* div #icon{ */
    /* display: flex;
    flex-direction: row; */

#Logo #miray,#Logo #icon{
    display: none;
}
div #icon img{
    width: 3rem;
    height: 3rem;
    transition: transform .6s;
}
div #icon img:hover{
    transform: scale(1.8);
}
#miray #header-date{
    display: none;
}

/* nav #icon{
    justify-content: space-between;
} */


#Logo #icon{
    align-self: center;
    display: flex;
    flex-direction: row;
}

main #spotlight #spot3{
    display: none;
}
#Logo{
    display: flex;
    flex-direction: column;
    background-color: var(--second-color--);
    justify-content: center;
    border-radius: 0 0 15px 15px;
    box-shadow: var(--shadow--);

}
#Logo img{
    /* justify-self: center; */
    align-self: center;
    width: 20em;
    border-radius: 30px;
    margin: 15px;
    box-shadow: var(--shadow--);
}
#Logo #miray{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: ; */
    text-shadow: var(--shadow--);
    /* box-shadow: var(--shadow--); */  
}
div #header-date{
    text-align: center;
    background-color: rgba(70, 64, 64, 0.5);
    color: snow;
    box-shadow: var(--shadow--);
}
div #header-date p{
    font-size: 1.5em;
    padding: 15px;
}

#Logo div h1{
    font-size: 3em;
}
#Logo div h2{
    font-size: 2em;
}
/* #Logo div{ */
    /* margin-left: 7px; */
    /* display: none; */
/* } */

nav ul{display: none;}
nav ul.open{ display: block;}
/* this is when humberger appear */
#hamburgerMenu span:nth-child(1){display: block;}
#hamburgerMenu span:nth-child(2){display: none;}
/* this is when X appear */
#hamburgerMenu.open span:nth-child(1){display: none;}
#hamburgerMenu.open span:nth-child(2){
    display: block;
    background-color: red;
    color: var(--text-color--);
}
main{
    display: flex;
    flex-direction: column;

}

main .card{
    text-align: center;
    justify-content: space-between;
    margin: 10px;
    background-color: #eee;
    height: auto;
    box-shadow: var(--shadow--);
    border-radius: 10px;
}
main .card p, .card img{
    padding: 15px;
}
.spot1-2 img{
    padding: 15px;
}
main #hero{
    width: auto;
    height: auto;
    background-color: transparent;
}
#hero img{
    grid-row: 1/4;
    grid-column: 1/4;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.hr{
    background-color: var(--second-color--);
    margin: 0 30px 0 30px;
    height: 4px;
}
/* #hero{
    background-color: transparent;
} */
/* #hero img:hover{
    filter: blur(4px);
    z-index: -1;
} */
#hero p a{
    background-color: transparent;
    /* width: auto; */
    font-size: 2.5em;
    color: black;
    text-decoration: none;
    font-weight: bold;
    animation-name: textzoom;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes textzoom{
    0%{
        font-size: 1.5em;
        color: red;
    }
    50%{
        font-size: 2.5em;
        color: green;
    }
    100%{
        font-size: 1.5em;
        color: #f8bd0a;
    }
}
#hero p a:hover{
    color: var(--second-color--);
    background-color: rgb(0,0,0,.4);
    border-radius: 10px;
    padding: 10px;
}
#hero p{
    grid-row: 3/4;
    grid-column: 2/3;
}
#hero{
    display: grid;
    grid-template-columns: 100px auto 100px;
    transition: 0.4s;
}
#hero h1{
    top: 450px;
    right: 42%;
    background-color: rgb(0,0,0,.4);
    color: var(--text-color--);
    height: auto;
    padding: 15px;
    grid-row: 1/3;
    grid-column: 2/3;
    align-self: end;
    border-radius: 10px;
    font-size: 3em;
}

main #join{
    display: none;
}
.h2{
    background-color: var(--second-color--);
    border-radius: 10px 10px 0 0;
    padding: 10px 0 10px 0;
}

main #spotlight{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;

}
main #spotlight .spot1-2{
    width: 90%;
    justify-items: center;
    height: auto;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(0,0,0,.3);
}

#weather-icon{
    display: inline-flex;
    
}

.joinUs{
    /* background-color: red; */
    padding: 20px;
}
.joinUs a{
    background-color: var(--first-color--);
    color: white;
    font-size: 1.5em;
    padding: 10px;
    border-radius: 10px;text-decoration: none;
}
.joinUs a:hover{
    color: var(--second-color--);
}

footer{
    text-align: center;
    border-radius: 15px;
    background-color: var(--first-color--);
    color: var(--text-color--);
    box-shadow: var(--shadow--);
    height: auto;
}
footer div{
    padding: 40px;
}
hr{
    height: 2px;
    background-color: rgb(0,0,0,.6);
    border: 0;

}

footer #name{
    border-top: 1.5px solid rgba(252, 207, 8, 0.3);
}

footer #location p a{
    /* font-size: 2em; */
    color: yellow;
}
#location p{
    font-size: 1em;
}
footer #location{
    height: 60px;
}