:root{
    --first-color--: #263248;
    --second-color--: #f8bd0a;
    /* --third-color--:; */
    --shadow--: 5px 5px 10px #6f7364; 
    --text-color--: #ffffff;
}
* {
    padding: 0;
    margin: 0;
}
body{
    min-width: 380px;
    max-width: 1900px;
}
nav button{
    display: block;
    font-size: 2em ;
    background-color: transparent;
    border: none;
    color: var(--second-color--);
    padding-left: .5em;
}
nav button:hover{
    background-color: rgb(0,0,0,.6);
}

nav{
    display: block;
    background-color: var(--first-color--);
    padding: 0;
    border-radius: 10px 10px 0 0;
}
nav ul{
    list-style-type: none;

}
nav ul li a{
    display: block;
    color: var(--text-color--);
    padding: .9rem;
    text-decoration: none;
    border-top: 1.5px solid rgb(0,0,0,.4);
}
nav ul li a:hover{
    background-color: rgb(0,0,0,.6);
    color: var(--second-color--);
}
/* div #icon{ */
    /* display: flex;
    flex-direction: row; */

#Logo #miray,#Logo #icon{
    display: none;
}
div #icon img{
    width: 3rem;
    height: 3rem;
}

/* nav #icon{
    justify-content: space-between;
} */


#Logo #icon{
    align-self: center;
    display: flex;
    flex-direction: row;
}
main #spotlight #spot3{
    display: none;
}
#Logo{
    display: flex;
    flex-direction: column;
    background-color: var(--second-color--);
    justify-content: center;
    border-radius: 0 0 15px 15px;
    box-shadow: var(--shadow--);

}
#Logo img{
    /* justify-self: center; */
    align-self: center;
    width: 20em;
    border-radius: 30px;
    margin: 15px;
    box-shadow: var(--shadow--);
}
#Logo #miray{
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    justify-content: center;
    /* margin-left: ; */
    text-shadow: var(--shadow--);
    /* box-shadow: var(--shadow--); */  
}
div #header-date{
    display: block;
    text-align: center;
    width: 15rem;
    height: 3rem;
    background-color: rgba(70, 64, 64, 0.5);
    color: snow;
    box-shadow: var(--shadow--);

}

#Logo div h1{
    font-size: 3em;
}
#Logo div h2{
    font-size: 2em;
}
/* #Logo div{ */
    /* margin-left: 7px; */
    /* display: none; */
/* } */

nav ul{display: none;}
nav ul.open{ display: block;}
/* this is when humberger appear */
#hamburgerMenu span:nth-child(1){display: block;}
#hamburgerMenu span:nth-child(2){display: none;}
/* this is when X appear */
#hamburgerMenu.open span:nth-child(1){display: none;}
#hamburgerMenu.open span:nth-child(2){
    display: block;
    background-color: red;
    color: var(--text-color--);
}
main{
    display: flex;
    flex-direction: column;

}

main .card{
    text-align: center;
    font-size: 2em;
    justify-content: space-between;
    margin: 10px;
    background-color: rgba(236, 221, 7, 0.651);
    border: 1px solid rgb(0,0,0,.6);
    /* width: 20rem; */
    height: 25rem;
}

main #join{
    display: none;
}

main #spotlight{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;

    /* justify-content: end; */

}
main #spotlight .spot1-2{
    /* background-color: red; */
    width: 21rem;
    justify-items: center;
    height: 8.5rem;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(0,0,0,.6);
}

footer{
    text-align: center;
    border-radius: 15px;
    background-color: var(--first-color--);
    color: var(--text-color--);
    box-shadow: var(--shadow--);
    height: auto;
}
footer div{
    padding: 40px;
}
hr{
    height: 2px;
    background-color: rgb(0,0,0,.6);
    border: 0;

}

footer #location p a{
    font-size: 2em;
    color: yellow;
}
footer #location{
    height: 60px;
}