@import url('https://fonts.googleapis.com/css2?family=Chela+One&family=Fasthand&family=Fredoka+One&family=Lato&family=Lexend+Deca:wght@800&family=Open+Sans:wght@400;800&family=Pacifico&family=Sansita+Swashed:wght@400;800;900&family=Silkscreen&family=Tangerine:wght@700&display=swap');
:root {
    --first-Color--:rgb(0, 94, 146); 
    --second-color--:darkslategrey;
    --tird-color--:rgb(235, 165, 27);
    --text-color--: white;
    --font-family--:'Lato', sans-serif;
    --shadow--:5px 10px 5px #6f7364;
    
}
* {
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    font-family: var(--font-family--);
}
.countener{
    width: auto;
    height: 50px;
    background-color: darkslategrey;
}
.nav-item a{
    font-size: 20px;
    color: var(--text-color--);
}
.navbar{
    display: flex;
    place-items: center;
    transition: .5s;
    position: fixed;
    top: -10px;
    
}
.hamburger{
    width: 35px;
    height: 30px;
    position: fixed;
    top: 15px;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: transparent;
    border: none;
}
.nav-link{
    display: flex; 
}
.nav-link li{
    padding: 15px;
}
ul li {
    list-style-type: none;
}
.card ul li a,a{
    color: black;
}
.line {
    width: 100%;
    height: 5px;
    background-color: beige;
}
#profile{
    display: grid;
    grid-template-columns: 130px auto;
    background-color: var(--first-Color--);
}
#profile img{
    border-radius: 50px;
    width: 90px;
    height: auto;
    box-shadow: var(--shadow--);
}
#profile h1{
    font-family: 'Pacifico', cursive;
    color: beige;
    font-size: 50px;
    text-align: center;
    align-self: center;
}
.main-countener .card { 
    width: 500px;
    height: 150px;
    /* background-color: bisque; */
    border: solid 1px gray;
    border-radius: 10px;
    flex: 1 1 500px;
    flex: 0 1 500px;
}
.main-countener .card .link .information{
    display: flex;
    place-items: center;
}
.card{ 
    /* margin: 20px 0 20px 0; */
    margin: 20px;
    box-shadow: var(--shadow--);
}
.main-countener{
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr; */
    margin: 20px 0 30px 0;
    place-items: center;
    justify-content: center;
}


.card h3{
    display: grid;
    color: beige;
    place-items: center;
    border-radius: 10px 10px;
    background-color: var(--first-Color--);
}
footer{
    background-color:  darkslategrey;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 50px;
}
footer .highlight {
    margin-top: 30px;
    color: beige;
}
footer p{
    color: beige;
}

.navbar.active {
    top: 0;
}


.hamburger.open #bar1{
    background-color: #000;
    transform: rotate(45deg) translate(6px, 5px);

}

.hamburger.open #bar2{
    background-color: transparent
    
}

.hamburger.open #bar3{
    /* background-color: #000; */
    transform: rotate(-45deg) translate(6px, -5px);
    
}

.contact {
    width: 400px;
    margin: 1rem;
    border: 1px solid #000;
    padding: 2rem;
    background-color: var(--first-Color--);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: var(--shadow--);
    font-size: 15px;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.send {
    margin-top: 30px;
    justify-self: center;
    padding:5px 20px 5px 20px;
    border-radius: 10px;
    background-color: var(--tird-color--);

}
.send  h2 {
    background-color: var(--tird-color--);
    border: none;
}
.message {
    margin-top: 10px;
    color: aliceblue;
}
.send:hover {
    background-color: rgb(209, 137, 4);
}
input:focus {
    background-color: #a3a59d;
}



