* {
    padding: 0;
    margin: 0;
}
nav ul {
    display: flex;
    flex-direction: row-reverse;
    place-items: center;
    background-color: gray;
    padding: 10px;
    
}
nav ul a {
    margin: 0 20px 0 20px ;
    font-size: 20px;
    color: beige;
}
nav ul a:hover{
    background-color: rgba(255, 255, 255, .6);;
    color: black;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header .logo {
    width: 200px;
    height: auto;
    border-radius: 100px;
    margin: 10px;
}
.header h1{
    margin-left: 50px;
    color: rgb(0, 128, 55);
}
.countener{
    display: flex;
    flex-direction: row;
}
.card img{
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin: 20px;
}
.card img:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px #6f7364
}
.text {
    display: flex;
}
.text p{ 
    background-color: gray;
    margin: 30px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
}

    

#link p a {
    color: whitesmoke;
}
#link p a:hover {
    background-color: rgba(255, 255, 255, .6);
    color: black;
}
footer {
    display: flex;
    background-color: gray;
    margin-top: 30px;
}
footer p {
    align-self: center;
}

footer a {
    margin: 0 30px;
}
